## Ignorar dependencias de Node.js y builds web/móvil
**/node_modules/
**/dist/
**/dist-ssr/
**/.expo/
**/web-build/

## Ignorar artefactos de compilación de .NET / C#
**/bin/
**/obj/
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/
**/.vs/
**/.vscode/*
!**/.vscode/extensions.json
!**/.vscode/launch.json
!**/.vscode/tasks.json
*.user
*.suo
*.userprefs

## Ignorar respaldos locales y accesos directos
.git_backup_appmovil/
Gestion Torneos App
*.log
.DS_Store
